<p id="notice"><%= notice %></p>
<%= form_with(model: @post, data: {confirm: 'enviar datos?'}, id: 'form') do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar', data: {disable_with: 'Enviando..'} %>
  </div>
<% end %>

<h1>Posts</h1>


<div id="my_posts">
  <table>
      <thead>
          <th>Título</th>
          <th>Descripción</th>
          <th>Borrar</th>
      </thead>
      <tbody>
        <% @posts.each do  |post|%>
            <%= render post %>
        <%end%>
     
     </tbody>
    <% @rand = {post: {title: 'Post random', desc: 'Este es un post random'}}%>
    <%= link_to 'Crear Post Random', @rand, method: :post, remote: true%>
  </table>
</div>

<br>
